@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.root-layout {
  @apply flex flex-col min-h-screen;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ダークモード */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #385458;
    --foreground: #fffefe;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* スマートフォン用 (ベース) */
body {
  line-height: 1.5;
}

/* タブレット用 */
@media (min-width: 640px) {
  body {
    line-height: 1.5;
  }
}

/* PC用 */
@media (min-width: 1024px) {
  body {
    line-height: 1.5;
  }
}
